/* Exercise 1 */

.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: 3s;
}


/* Exercise 2 */

.ex-2-square:active{
    width: 100%;
}

.ex-2-square{
    transition: 3s;
}


/* Exercise 3 */

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-3-square{
    transition: 1s;
}


/* Exercise 4 */

.ex-4-square:hover{
    opacity: 0%;
}

.ex-4-square{
    transition: 3s;
}


/* Exercise 5 */

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-5-square{
    transition: 1s;
}


/* Exercise 6 */

.ex-6-img:hover{
    filter: grayscale(100%);
}


/* Exercise 7 */

.ex-7-img:hover{
    filter: grayscale(50%) sepia(50%);
}

.ex-7-img{
    transition: 3s;
}


/* Exercise 8 */

.ex-8-img:hover{
    filter: grayscale(50%) sepia(50%);
    border-radius: 20px;
}

.ex-8-img{
    transition: 3s;
}


/* Exercise 9 */

.ex-9-img:hover{
    filter: grayscale(50%) sepia(50%);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-9-img{
    transition: 3s;
}


/* Exercise 10 */

.ex-10-icon{
    animation: spin 3s infinite linear;
}

@keyframes spin{
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}


/* Exercise 11 */

.ex-11-icon:hover{
    animation: spin3-4 3s linear
}

@keyframes spin3-4{
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Exercise 12 */

