/* Exercise 1 */

.ex-1-square:hover{
    background-color: red;
}

.ex-1-square{
    transition: 3s;
}


/* Exercise 2 */

.ex-2-square:active{
    width: 100%;
}

.ex-2-square{
    transition: 3s;
}


/* Exercise 3 */

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-3-square{
    transition: 1s;
}


/* Exercise 4 */

.ex-4-square:hover{
    opacity: 0%;
}

.ex-4-square{
    transition: 3s;
}


/* Exercise 5 */

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-5-square{
    transition: 1s;
}


/* Exercise 6 */

.ex-6-img:hover{
    filter: grayscale(100%);
}


/* Exercise 7 */

.ex-7-img:hover{
    filter: grayscale(50%) sepia(50%);
}

.ex-7-img{
    transition: 3s;
}


/* Exercise 8 */

.ex-8-img:hover{
    filter: grayscale(50%) sepia(50%);
    border-radius: 20px;
}

.ex-8-img{
    transition: 3s;
}


/* Exercise 9 */

.ex-9-img:hover{
    filter: grayscale(50%) sepia(50%);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-9-img{
    transition: 3s;
}


/* Exercise 10 */

.ex-10-icon{
    animation: spin 3s infinite linear;
}

@keyframes spin{
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}


/* Exercise 11 */

.ex-11-icon:hover{
    animation: spin3-4 3s linear
}

@keyframes spin3-4{
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Exercise 12 */

.ex-12-button:hover .ex-12-top-white{
    animation: top-12 2s linear;
}

@keyframes top-12{
    0%{
        left: 10%; 
    }

    50%{
        left: calc(100% - 60px);
    }

    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottom-12 2s linear;
}

@keyframes bottom-12{
    0%{
        right: 20%; 
    }

    50%{
        right: calc(100% - 60px);
    }

    100%{
        right: 20%;
    }
}


/* Exercise 13 */

.ex-13-button:hover .ex-13-top-white{
    animation: top-13 2s linear;
}

@keyframes top-13{
    0%{
        left: 10%;
        top: -10px;
    }

    20%{
        left: calc(100% - 20px);
        top: -10px;
    }

    30%{
        left: calc(100% - 20px);
        top: 50%;
    }

    40%{
        top: 90%;
        left: calc(100% - 20px);
    }

    60%{
        left: -10px;
        top: 90%;
    }

    70%{
        top: 50%;
        left: -10px;
    }

    80%{
        top: -10px;
        left: -10px;
    }

    100%{
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: bottom-13 2s linear;
}

@keyframes bottom-13{
    0%{
        bottom: -10px;
        right: 20%;
    }

    20%{
        bottom: -10px;
        right: 90%;
    }

    30%{
        right: 90%;
        bottom: 50%;
    }

    40%{
        right: 90%;
        bottom: 90%;
    }

    60%{
        bottom: 90%;
        right: -30px;
    }

    70%{
        right: -30px;
        bottom: 50%;
    }

    80%{
        right: -30px;
        bottom: -10px;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}